ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
ADMIN_SESSION_SECRET=

# Credenciales de prueba de Webpay Plus (ambiente de integración)
WEBPAY_COMMERCE_CODE=597055555532
WEBPAY_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C
NEXT_PUBLIC_APP_URL=http://localhost:3000
APP_URL=http://localhost:3000
